@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  @apply bg-surface text-zinc-900 antialiased;
}

.container-default {
  @apply mx-auto w-full max-w-6xl px-4 sm:px-6 lg:px-8;
}
